:root {
  --bg: #ffffff;
  --text: #222222;
}

body.dark {
  --bg: #121212;
  --text: #f1f1f1;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .3s, color .3s;
}

.container {
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #4a4fff;
  color: white;
  cursor: pointer;
}
